[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
paho-mqtt = "*"
hanazeder = "==0.11.2"
asyncio-mqtt = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
